@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Neuton:300,400,400i,700');

:root {
  --brandPrimary: #399bf9;
  --brandPrimaryShaded: color(#399bf9 shade(20%));
  --brandSecondary: #fdc139;
  --brandSecondaryShaded: color(#fdc139 shade(10%));
  --brandTertiary: #ff656f;
  --white: #ffffff;
  --lighterGray: #e1e1e1;
  --lightGray: #d2d8dd;
  --mediumGray: #b1b1b1;
  --gray: #495057;
  --darkGray: #333333;
  --black: rgb(27, 37, 63);
  --maxWidth: 1330px;
  --headerHeight: 80px;
  --footerHeight: 110px;
  --fontWeightLight: 200;
  --fontWeightNormal: 400;
  --fontWeightSemibold: 500;
  --fontWeightBold: 600;
  --fontWeightExtraBold: 800;
  --fontFamilyPrimary: 'Neuton', serif;
  --fontFamilyHeading: 'Montserrat', sans-serif;
  --routeTransitionDuration: 1s;
}

@custom-media --phone (min-width: 576px);
@custom-media --phone-landscape (min-width: 665px) and (max-width: 759px);
@custom-media --tablet (min-width: 760px);
@custom-media --desktop (min-width: 992px);
@custom-media --short-desktop (max-height: 870px);
@custom-media --large-desktop (min-width: 1330px);
@custom-media --turd-browser screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none);
